<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>prpo-trgovina-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IzdelekServlet</display-name>
    <servlet-name>IzdelekServlet</servlet-name>
    <servlet-class>si.fri.prpo.IzdelekServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzdelekServlet</servlet-name>
    <url-pattern>/IzdelekServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimulatorNapakeServlet</display-name>
    <servlet-name>SimulatorNapakeServlet</servlet-name>
    <servlet-class>si.fri.prpo.SimulatorNapakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimulatorNapakeServlet</servlet-name>
    <url-pattern>/SimulatorNapakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JpaServlet</display-name>
    <servlet-name>JpaServlet</servlet-name>
    <servlet-class>si.fri.prpo.JpaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JpaServlet</servlet-name>
    <url-pattern>/JpaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjbServlet</display-name>
    <servlet-name>EjbServlet</servlet-name>
    <servlet-class>si.fri.prpo.EjbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjbServlet</servlet-name>
    <url-pattern>/EjbServlet</url-pattern>
  </servlet-mapping>
</web-app>